* {
	box-sizing: border-box;
}

body {
	background-image: url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg);
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    color: rgb(141, 112, 246);
}

.keys {
	display: flex;
    flex-wrap: wrap;
	min-height: 60vh;
	align-items: center;
	justify-content: center;
}

.key {
	border: 0.4rem solid rgb(235, 70, 89);
	border-radius: 0.5rem;
	margin: 1rem;
	font-size: 1.5rem;
	padding: 1rem 0.5rem;
	transition: all 0.07s ease;
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0);
	text-shadow: 0 0 0.1rem black;
}

.playing {
	transform: scale(1.1);
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}

kbd {
	display: block;
	font-size: 2rem;
    color: rgb(22, 183, 16);
}

.sound {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: #ffc600;
}
